$w: white;
$b: black;
$g: #d9d9de;
$br: #886239;
@mixin wh($fz) {
	font-weight: 500;
	color: $w;
	font-size: $fz;
}
@mixin bh($fz) {
	font-weight: bold;
	color: $b;
	font-size: $fz;
}
@mixin breakpoint($point) {
	@if $point ==lg {
		@media (max-width: 992px) {
			@content;
		}
	}
	@else if $point ==md {
		@media (max-width: 768px) {
			@content;
		}
	}
	@else if $point ==sm {
		@media (max-width: 576px) {
			@content;
		}
	}
	@else if $point ==xs {
		@media (max-width: 359px) {
			@content;
		}
	}
}
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	line-height: 130%;
	transition: all 0.5s;
	scroll-behavior: smooth;
	outline: 0 !important;
}
.wrapper {
	margin: 0 auto;
	width: 95%;
	max-width: 1120px;
}
//    HEADER SECTION   
header {
	background: no-repeat center/cover url(../images/fon1.jpg);
	.wrapper {
		min-height: 100vh;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		.header__top {
			.header__logo {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 16px 0;
				@include breakpoint(sm) {
					justify-content: center;
					flex-wrap: wrap;
				}
				@include breakpoint(xs) {
					margin-right: 0;
					// justify-content: ;
				}
				.logo-link {
					&:hover {
						transform: scale(1.1);
						@include breakpoint(md) {
							transform: scale(1);
						}
					}
					img {
						user-select: none;
						@include breakpoint(sm) {
							height: 55px;
						}
					}
				}
				span {
					font-weight: bold;
					color: $w;
					@include breakpoint(lg) {
						max-width: 260px;
						line-height: 35px;
					}
					@include breakpoint(md) {
						line-height: 35px;
						font-weight: normal;
					}
					@include breakpoint(sm) {
						max-width: 100%;
						line-height: 30px;
						font-size: 14px;
					}
					@include breakpoint(xs) {
						font-size: 12px;
					}
					a {
						color: $w;
						background-color: $br;
						padding: 10px 30px;
						border-radius: 22px;
						font-weight: 400;
						margin-left: 20px;
						@include breakpoint(sm) {
							display: block;
							margin-left: 0;
							text-align: center;
							padding: 5px 0;
						}
						&:hover {
							box-shadow: 0 0 10px $br;
							text-shadow: 0 0 7px $w;
							@include breakpoint(lg) {
								box-shadow: none;
								text-shadow: none;
							}
						}
					}
				}
			}
			.menu {
				@include breakpoint(sm){
					height: 1px;
				}
				.menu__btn{
					display: none;
					@include breakpoint(sm){
						display: block;
						margin: auto;
						width: 40px;
						height: 40px;
						background-color: transparent;
						border: 2px solid $w;
						border-radius: 5px;
						position: relative;
						animation: menu 3s linear infinite;
						@include breakpoint(xs){
							right: 15px;
							top: 50px;
							position: absolute;
						}
						.menu__row{
							display: block;
							height: 2px;
							width: 80%;
							margin-left: 10%;
							background-color: $w;
							animation-delay: 1s;
							&::after,
							&::before{
								content: '';
								position: absolute;
								width: 80%;
								left: 10%;
								height: 2px;
								background-color: $w;
							}
							&::before{
								top: 20%;
								animation-delay: 1.5s;
							}
							&::after{
								bottom: 20%;
								animation-delay: .5s;
							}
						}
					}
				}
				.menu__list {
					display: flex;
					justify-content: space-evenly;
					border-top: 1px solid $w;
					border-bottom: 1px solid $w;
					@include breakpoint(md){
						justify-content: space-around;
					}
					@include breakpoint(sm){
						transform: translateY(-200%);
						display: block;
						border: none;
					}
					a {
						line-height: 70px;
						color: $w;
						@include breakpoint(sm){
							line-height: normal;
							display: block;
							padding: 10px;
							background: $br;
							font-size: 16px;
							text-align: center;
							border-bottom: 2px solid $w;
							border-radius: 30px;
							margin-top: 3px;
						}
						&:hover {
							text-shadow: 0 0 7px $w;
							@include breakpoint(sm){
								text-shadow: none
							}
						}
					}
				}
				.menu__list.menu__list-active{
					transform: translateY(5%);
					@include breakpoint(xs){
						transform: translateY(-5%);
					}
				}
			}
			h1{
				@include bh(90px);
				font-family: "PT Serif", serif;
				text-align: center;
				margin-top: 50px;
				@include breakpoint(lg){
					font-size: 70px;
				}
				@include breakpoint(md){
					font-size: 50px;
				}
				@include breakpoint(sm){
					font-size: 38px;
				}
				@include breakpoint(xs){
					font-size: 35px;
					margin-top: 0;
				}
			}
		}
		.header__bottom{
			.header__btn-block{
				margin-bottom: 65px;
				@include breakpoint(lg){
					margin-bottom: 10px;
				}
				@include breakpoint(sm){
					display: flex;
					flex-flow: column nowrap;
					align-items: center;
					margin-bottom: 30px;
				}
				@include breakpoint(xs){
					margin-bottom: 20px;
				}
				p{
					font-size: 20px;
					font-weight: bold;
					color: $b;
					margin-bottom: 40px;
					@include breakpoint(lg){
						max-width: 320px;
						text-shadow: 1px 0px 0 #999999, 0px -1px 0 #999999,
					-1px 0px 0 #999999, 0px 1px 0 #999999;
					}
					@include breakpoint(md){
						font-size: 18px;
					}
					@include breakpoint(sm){
						margin-bottom: 15px;
						text-align: center;
					}
					@include breakpoint(xs){
						font-size: 16px;
						margin-bottom: 5px;
					}
				}
				.header__bottom-link{
					color: $w;
					font-size: 18px;
					font-weight: 400;
					background-color: $br;
					padding: 20px 45px;
					border-radius: 30px;
					@include breakpoint(lg) {
						padding: 15px 35px;
					}
					@include breakpoint(md) {
						padding: 15px 30px;
					}
					@include breakpoint(xs){
						font-size: 16px;
						padding: 5px 15px;
					}
					&:hover {
						box-shadow: 0 0 10px $br;
						text-shadow: 0 0 7px $w;
						@include breakpoint(lg) {
							box-shadow: none;
							text-shadow: none;
						}
					}
				}
			}
			.header__arrow {
				text-align: center;
				user-select: none;
				margin-bottom: 15px;
				img {
					border-radius: 50%;
					transform: scale(1.3);
					animation: arrow 2s linear infinite;
					@include breakpoint(md) {
						transform: scale(1.1);
					}
					&:hover {
						animation: arrow 0s;
						transform: scale(1.6);
						@include breakpoint(lg){
							transform: scale(1);
						}
					}
				}
			}
		}
	}
}
@keyframes menu{
	0%{
		opacity: 0.5;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0.5;
	}
}
@keyframes arrow{
	0% {
		box-shadow: 0 0 0 $w;
	}
	50% {
		box-shadow: 0 0 25px $w;
	}
	100% {
		box-shadow: 0 0 0 $w;
	}
}
//    COUTNTRIES SECTION   
.block__coutnries{
	padding: 100px 0;
	@include breakpoint(md){
		padding: 50px 0;
	}
	.wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 30px;
		@include breakpoint(md){
			grid-template-columns: repeat(3,1fr);
			grid-gap: 20px;
		}
		@include breakpoint(sm){
			grid-template-columns: 1fr 1fr;
		}
		@include breakpoint(xs){
			grid-template-columns: 1fr;
		}
		.countries_img {
			border: 1px solid $g;
			&:hover {
				box-shadow: 0 0 7px rgba(128, 128, 128, 0.5);
				transform: scale(1.1);
			}
			a {
				color: $b;
				img {
					width: 100%;
					user-select: none;
				}
				span {
					display: block;
					padding: 10px 0 15px 10px;
					font-weight: 400;
					@include breakpoint(md){
						padding: 5px 0 10px;
						text-align: center;
					}
				}
			}
		}
	}
}
//    DIRECTIONS SECTION   
.block__directions {
	background: url(../images/fon2.jpg) no-repeat center/cover;
	.wrapper {
		h2 {
			@include wh(36px);
			text-align: center;
			padding-top: 30px;
			@include breakpoint(md){
				font-size: 30px;
				padding-bottom: 0;
			}
		}
		.directions {
			padding: 50px 0;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 40px;
			@include breakpoint(md){
				padding: 30px 0;
				grid-template-columns: repeat(3,1fr);
				grid-gap: 20px;
			}
			@include breakpoint(sm){
				grid-template-columns: repeat(2,1fr);
			}
			@include breakpoint(xs){
				grid-template-columns: 1fr;
			}
			div {
				color: $w;
				img {
					user-select: none;
					@include breakpoint(md){
						max-width: 70px;
					}
					@include breakpoint(sm){
						max-width: 55px;
						display: block;
						margin: 0 auto;
					}
				}
				span {
					display: block;
					margin: 20px 0;
					@include breakpoint(md){
						font-size: 14px;
						margin: 10px 0;
						@include breakpoint(sm){
							text-align: center;
						}
					}
				}
			}
		}
	}
}
//    EXCURSIONS SECTION   
.block__excursions {
	.wrapper {
		padding: 90px 0 80px;
		border-bottom: 1px solid $g;
		@include breakpoint(lg){
			padding: 50px 0;
		}
		@include breakpoint(sm){
			padding: 30px 0;
		}
		h2 {
			@include bh(36px);
			text-align: center;
			margin-bottom: 40px;
			@include breakpoint(md){
				font-size: 30px;
				margin-bottom: 20px;
			}
		}
		.suggestions {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(4, 1fr);
			grid-gap: 30px;
			@include breakpoint(lg){
				grid-template-columns: repeat(2,1fr);
				grid-gap: 20px;
			}
			@include breakpoint(sm){
				grid-template-columns: 1fr;
			}
			a {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 15px 25px 20px;
				color: $w;
				min-height: 256px;
				@include breakpoint(sm){
					margin: 0 8%;
				}
				@include breakpoint(xs){
					margin: 0;
				}
				&:nth-child(3),
				&:nth-child(6) {
					grid-column: span 2;
					grid-row: span 2;
					@include breakpoint(sm){
						grid-column: auto;
					grid-row: auto;
					}
				}
				h3 {
					@include wh(24px);
					@include breakpoint(lg){
						margin-bottom: 20px;
					}
					@include breakpoint(md){
						font-size: 18px;
					}
				}
				.suggestion_p {
					margin-bottom: 60%;
					@include breakpoint(lg){
						margin-top: 10px;
					}
				}
				&:hover {
					transform: scale(1.05);
					border-radius: 1%;
					box-shadow: 0 0 10px 3px $b;
					@include breakpoint(lg){
						transform: scale(1);
						border-radius: none;
						box-shadow: none;
					}
				}
			}
		}
	}
}
//    INFO-MAP SECTION   
.block__info-map {
	.wrapper {
		padding: 100px 0;
		@include breakpoint(lg){
			padding: 50px 0;
		}
		@include breakpoint(sm){
			padding: 30px 0;
		}
		.block__map {
			margin-bottom: 100px;
			@include breakpoint(lg){
				margin-bottom: 50px;
			}
			@include breakpoint(md){
				margin-bottom: 20px;
			}
			h2 {
				@include bh(36px);
				text-align: center;
				margin-bottom: 50px;
				@include breakpoint(lg){
					margin-bottom: 30px;
				}
				@include breakpoint(md){
					font-size: 30px;
				}
			}
			iframe {
				width: 100%;
				height: 610px;
				user-select: none;
				@include breakpoint(lg){
					height: 510px;
				}
				@include breakpoint(md){
					height: 410px;
				}
				@include breakpoint(sm){
					height: 310px;
				}
				@include breakpoint(xs){
					height: 210px;
				}
			}
		}
		.block__about {
			display: grid;
			grid-template-columns: 3fr 4fr;
			grid-gap: 30px;
			@include breakpoint(md){
				display: flex;
				flex-flow: column;
			}
			.about__info {
				h2 {
					@include bh(36px);
					margin-bottom: 30px;
					@include breakpoint(md){
						text-align: center;
						font-size: 30px;
						margin-bottom: 20px;
					}
				}
				p {
					margin-bottom: 30px;
					font-size: 18px;
					@include breakpoint(sm){
						font-size: 16px;
					}
				}
				a {
					color: $g;
					text-decoration: underline;
					@include breakpoint(sm){
						font-size: 16px;
					}
					&:hover {
						text-decoration: none;
					}
				}
			}
			.about__popup {
				background: url(../images/video_item.jpg) no-repeat center center/cover;
				height: 400px;
				display: flex;
				justify-content: center;
				align-items: center;
				user-select: none;
				@include breakpoint(sm){
					height: 250px;
				}
				img{
					@include breakpoint (xs){
						width: 50px;
					}
					&:hover {
						transform: scale(1.1);
						@include breakpoint(lg){
							transform: scale(1);
						}
					}
				}
			}
		}
	}
}
//    GALLERY SECTION   
.block__gallery {
	background-color: $br;
	.wrapper {
		.gallery__top {
			display: flex;
			justify-content: space-between;
			padding: 50px 0;
			@include breakpoint(md){
				padding: 20px 0;
			}
			@include breakpoint(sm){
				flex-flow: column;
			}
			h2 {
				@include wh(36px);
				@include breakpoint(md){
					font-size: 30px;
				}
			}
			a {
				display: flex;
				align-items: center;
				color: $w;
				text-decoration: underline;
				margin-right: 160px;
				opacity: .8;
				@include breakpoint(xs){
					width: 200px;
				}
				&:hover {
					text-shadow: 0 0 5px $w;
					text-decoration: none;
				}
			}
		}
		.gallery__slider {
			padding-bottom: 100px;
			position: relative;
			@include breakpoint(md){
				padding-bottom: 50px; 
			}
			.slick-btn {
				background: transparent;
				border: none;
				cursor: pointer;
				img{
					@include breakpoint(md){
						width: 40px;
					}
				}
			}
			.slick-prev {
				position: absolute;
				top: -98px;
				right: 90px;
				animation: buttom 2s linear infinite;
				border-radius: 50%;
				height: 44px;
				z-index: 1;
				@include breakpoint(md){
					height: 40px;
					top: -60px;
				}
				@include breakpoint(xs){
					top: -50px;
					right: 65px;
				}
				&:hover {
					animation: buttom 0s;
					transform: scale(1.3);
					@include breakpoint(lg){
						transform: scale(1);
					}
				}
			}
			.slick-next {
				position: absolute;
				top: -98px;
				right: 20px;
				animation: buttom 2s linear infinite;
				border-radius: 50%;
				height: 44px;
				z-index: 1;
				@include breakpoint(md){
					height: 40px;
					top: -60px;
				}
				@include breakpoint(xs){
					top: -50px;
					right: 10px;
				}
				&:hover {
					animation: buttom 0s;
					transform: scale(1.3);
					@include breakpoint(lg){
						transform: scale(1);
					}
				}
			}
			.gallery__foto {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 30px;
				@include breakpoint(md){
					grid-gap: 10px;
				}
				@include breakpoint(sm){
					grid-template-columns: repeat(2,1fr);
				}
				img {
					width: 100%;
				}
			}
		}
	}
}
@keyframes buttom {
	0% {
		box-shadow: 0 0 0 $w;
	}

	50% {
		box-shadow: 0 0 10px $w;
	}

	100% {
		box-shadow: 0 0 0 $w;
	}
}
//    TURVIP SECTION   
.block__turvip {
	.wrapper {
		padding: 100px 0;
		@include breakpoint(lg){
			padding: 50px 0;
		}
		@include breakpoint(sm){
			padding: 30px 0;
		}
		h2 {
			@include bh(36px);
			text-transform: uppercase;
			text-align: center;
			@include breakpoint(md){
				font-size: 30px;
			}
		}
		.safariclass__text {
			column-count: 2;
			column-gap: 50px;
			margin: 75px 0 65px;
			@include breakpoint(md){
				margin: 30px 0;
			}
			@include breakpoint(sm){
				column-count: auto;
			}
			p {
				margin-bottom: 15px;
			}
			a {
				@include bh(16px);
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.safariclass__numbers {
			display: flex;
			justify-content: space-between;
			padding-top: 50px;
			border-top: 1px solid $g;
			@include breakpoint(lg){
				flex-wrap: wrap;
				justify-content: space-evenly;
			}
			@include breakpoint(md){
				padding-top: 20px;
			}
			span {
				font-weight: bold;
				font-size: 20px;
				margin: 0 20px;
				text-align: center;
				display: block;
				@include breakpoint(sm){
					font-size: 18px;
				}
			}
			.numbers {
				font-family: "PT Serif", serif;
				color: $br;
				font-size: 58px;
				display: block;
				text-align: center;
				@include breakpoint(sm){
					font-size: 50px;
				}
			}
		}
	}
}
//    BOOKING SECTION   
.booking {
	background-color: #eaeaea;
	.wrapper {
		padding: 75px 0;
		max-width: 830px;
		@include breakpoint(md){
			padding: 45px 0;
		}
		h2 {
			@include bh(36px);
			text-align: center;
			margin-bottom: 45px;
			@include breakpoint(md){
				font-size: 30px;
				margin-bottom: 20px;
			}
		}
		.booking__form {
			display: flex;
			justify-content: space-between;
			flex-flow: row wrap;
			@include breakpoint(md){
				justify-content: space-evenly;
			}
			.booking__input {
				height: 45px;
				width: 260px;
				padding: 10px;
				border: 1px solid #d9d9de;
				margin-bottom: 30px;
				@include breakpoint(lg){
					width: 235px;
				}
				@include breakpoint(md){
					margin-bottom: 15px;
				}
				@include breakpoint(sm){
					width: 215px;
				}
				&::placeholder {
					font-size: 16px;
					color: #c4c4c4;
					font-family: "Roboto", sans-serif;
				}
			}
			.booking__area {
				resize: none;
				width: 100%;
				height: 110px;
				padding: 10px;
				border: 1px solid #d9d9de;
				margin-bottom: 70px;
				@include breakpoint(md){
					margin-bottom: 25px;
				}
				&::placeholder {
					font-size: 16px;
					color: #c4c4c4;
					font-family: "Roboto", sans-serif;
				}
			}
			.booking__btn {
				background-color: $br;
				border: none;
				padding: 20px 60px;
				border-radius: 30px;
				color: $w;
				user-select: none;
				@include breakpoint(md){
					margin-bottom: 10px;
					padding: 15px 40px;
				}
				&:hover {
					cursor: pointer;
					background-color: #8a5924;
				}
				&:active {
					background-color: #a5723b;
				}
			}
			label {
				display: flex;
				align-items: center;
				user-select: none;
				text-decoration: underline;
				cursor: pointer;
				@include breakpoint(md){
					width: 80%;
					justify-content: center;
					margin-left: 40px;
				}
				@include breakpoint(xs){
					font-size: 14px;
				}
				&:hover {
					text-decoration: none;
				}
				.booking__checkbox {
					position: absolute;
					width: 1px;
					height: 1px;
					overflow: hidden;
					clip: rect(0 0 0 0);
					&:checked+.booking__checkbox-style::before {
						content: "";
						width: 18px;
						height: 18px;
						background-color: #c4c4c4;
						top: 50%;
						left: 50%;
						position: absolute;
						transform: translate(-50%, -50%);
					}
				}
				.booking__checkbox-style {
					width: 26px;
					height: 26px;
					border-radius: 2px;
					border: 2px solid #c4c4c4;
					margin-left: -45px;
					position: absolute;
					@include breakpoint(md){
						margin-left: -330px;
					}
					@include breakpoint(xs){
						margin-left: -310px;
					}
				}
			}
		}
	}
}
//    FOOTER SECTION   
footer {
	background-color: #1f1e1e;
	.wrapper {
		padding: 80px 0;
		max-width: 830px;
		@include breakpoint(md){
			padding: 40px 0;
		}
		figure {
			text-align: center;
			margin-bottom: 70px;
			user-select: none;
			@include breakpoint(md){
				margin-bottom: 30px;
			}
			@include breakpoint(xs){
				margin-bottom: 10px;
			}
		}
		ul {
			display: flex;
			justify-content: space-between;
			font-size: 14px;
			color: $w;
			@include breakpoint(md){
				flex-wrap: wrap;
				justify-content: space-evenly;
			}
			li {
				@include breakpoint(md){
					margin: 10px;
				}
				&:nth-child(1) {
					max-width: 225px;
				}
				&:nth-child(2) {
					max-width: 165px;
				}
				&:nth-child(3) {
					max-width: 230px;
				}
				h4 {
					font-weight: 500;
					margin-bottom: 7px;
					@include breakpoint(sm){
						text-align: center;
					}
				}
				p {
					opacity: 0.8;
					margin-bottom: 7px;
					@include breakpoint(sm){
						text-align: center;
					}
				}
				a {
					color: $w;
					text-decoration: underline;
					margin-bottom: 7px;
					@include breakpoint(sm){
						text-align: center;
						display: block;
					}
					&:hover {
						text-decoration: none;
					}
				}
				.footer__link {
					display: block;
					font-style: normal;
					font-size: 14px;
					opacity: 0.8;
					text-decoration: none;
					@include breakpoint(sm){
						text-align: center;
					}
				}
			}
		}
	}
}